<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2009-2012 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.nestedresulthandler.Mapper">
	<resultMap id="personResult" type="org.apache.ibatis.submitted.nestedresulthandler.Person">
		<id property="id" column="person_id" />
		<result property="name" column="person_name"/>
		<collection property="items" ofType="org.apache.ibatis.submitted.nestedresulthandler.Item">
			<id property="id" column="item_id"/>
			<result property="name" column="item_name"/>
		</collection>
	</resultMap>

	<select id="getPersons" resultMap="personResult" resultOrdered="true">
		select p.id as person_id, p.name as person_name, i.id as item_id, i.name as item_name
		from persons p, items i
		where p.id = i.owner
	</select>

	<select id="getPersonsWithItemsOrdered" resultMap="personResult">
		select p.id as person_id, p.name as person_name, i.id as item_id, i.name as item_name
		from persons p, items i
		where p.id = i.owner
		order by i.name
	</select>
</mapper>