<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.lazyload_common_property.ChildMapper">
    
    <resultMap id="ChildMap" type="Child">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="father" column="father_id" select="org.apache.ibatis.submitted.lazyload_common_property.FatherMapper.selectById"/>
        <association property="grandFather" column="grand_father_id" select="org.apache.ibatis.submitted.lazyload_common_property.GrandFatherMapper.selectById"/>
    </resultMap>
    
    
    <select id="selectById" resultMap="ChildMap" parameterType="int">
    	SELECT id, name, father_id, grand_father_id
    	FROM Child
    	WHERE id = #{id}
    </select>
</mapper>
