/*.iml
/*.ipr
/*.iws
/.classpath
/.idea
/.project
/.settings
/derby.log
/ibderby
/nb*
/release.properties
/target
/test.db.lck
/test.db.log
/test.db.properties
/test.db.script
/test.db.tmp
/src/docbkx
velocity.log
/bin
