<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2012 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.includes.mapper">
  <sql id="sometable">
    SomeTable
  </sql>

  <select id="select" resultType="map">
    <include refid="org.apache.ibatis.submitted.includes.fragments.select"/>
    field1, field2, field3
    from
    <include refid="sometable"/>
  </select>

  <select id="selectWithProperty" resultType="_int">
    <include refid="${ns}.values"/>
  </select>

  <update id="update" parameterType="map">
    <include refid="org.apache.ibatis.submitted.includes.fragments.update"/>
    <include refid="org.apache.ibatis.submitted.includes.mapper.sometable"/>
    set Field2 = #{field2,jdbcType=INTEGER},
    Field3 = #{field3,jdbcType=VARCHAR},
    where field1 = #{field1,jdbcType=INTEGER}
  </update>
</mapper>
