<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet namespace">
	<cache />
	<resultMap type="org.apache.ibatis.submitted.xml_external_ref.Pet"
		id="petResult">
		<id property="id" column="pet_id" />
		<result property="ownerId" column="owner_id" />
		<result property="name" column="pet_name" />
	</resultMap>
	<resultMap type="org.apache.ibatis.submitted.xml_external_ref.Pet"
		id="resultWithOwner" extends="petResult">
		<association property="owner"
			javaType="org.apache.ibatis.submitted.xml_external_ref.Person"
			resultMap="person namespace.personResult" />
	</resultMap>
	<sql id="petColumnList">
		pet_id, owner_id, pet_name
	</sql>
	<select id="select" parameterType="java.lang.Integer" resultMap="resultWithOwner">
		SELECT
		<include refid="petColumnList" />
		,
		<include refid="person namespace.personColumnList" />
		FROM pet, person where person_id = owner_id
		AND pet_id = #{id}
	</select>
</mapper>
