<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.submitted.xml_external_ref.ParameterMapReferencePersonMapper">
	<resultMap type="org.apache.ibatis.submitted.xml_external_ref.Person"
		id="personResult">
		<id property="id" column="person_id" />
		<result property="name" column="person_name" />
	</resultMap>
	<!-- Referencing a parameter map in another file -->
	<select id="select" parameterMap="org.apache.ibatis.submitted.xml_external_ref.ParameterMapReferencePetMapper.personParameter" resultMap="personResult">
		SELECT person_id, person_name
		FROM person
		WHERE person_id = ?
	</select>
</mapper>
