<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.null_associations.FooMapper">

  <resultMap type="Bar" id="barResult">
    <result property="field1" column="F_FIELD2_FIELD1" javaType="long" jdbcType="BIGINT"/>
    <result property="field2" column="F_FIELD2_FIELD2" javaType="long" jdbcType="BIGINT"/>
    <result property="field3" column="F_FIELD2_FIELD3" javaType="long" jdbcType="BIGINT"/>
  </resultMap>

  <resultMap type="Foo" id="fooResult">
    <result property="field1" column="F_FIELD1" javaType="long" jdbcType="BIGINT"/>
    <result property="field3" column="F_FIELD3" javaType="boolean" jdbcType="BOOLEAN"/>
    <association property="field2" resultMap="barResult"/>
  </resultMap>

  <insert id="insertFoo" parameterType="Foo">
    insert into FOO (
    F_FIELD1,
    F_FIELD2_FIELD1,
    F_FIELD2_FIELD2,
    F_FIELD2_FIELD3,
    F_FIELD3
    ) values (
    #{field1,jdbcType=BIGINT},
    #{field2.field1,jdbcType=BIGINT},
    #{field2.field2,jdbcType=BIGINT},
    #{field2.field3,jdbcType=BIGINT},
    #{field3,jdbcType=BOOLEAN}
    )
  </insert>

  <select id="selectFoo" resultMap="fooResult">
    select * from FOO;
  </select>

  <delete id="deleteAllFoo">
    delete from FOO;
  </delete>

</mapper>
