<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2020 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.parent_childs.Mapper">

    <resultMap id="ParentMap" type="org.apache.ibatis.submitted.parent_childs.Parent">
        <result column="p_Id" property="id" />
        <result column="p_Name" property="name" />
        <result column="p_SurName" property="surName" />
        <collection property="childs" resultMap="ChildMap" />
    </resultMap>

    <resultMap id="ChildMap" type="org.apache.ibatis.submitted.parent_childs.Child">
        <result column="c_id" property="id" />
        <result column="c_Name" property="name" />
        <result column="c_SurName" property="surName" />
        <result column="c_Age" property="age" />
    </resultMap>

    <select id="getParents" resultMap="ParentMap">
        select
        p.Id as p_Id,
        p.Name as p_Name,
        p.SurName as p_SurName,
        c.Id as c_Id,
        c.Name as c_Name,
        c.SurName as c_SurName,
        c.Age as c_Age
        from Parent p
        left outer join Child c on p.Id = c.ParentId
    </select>

    <resultMap id="ParentMapConstructor" type="org.apache.ibatis.submitted.parent_childs.Parent">
        <result column="p_Id" property="id" />
        <result column="p_Name" property="name" />
        <result column="p_SurName" property="surName" />
        <collection property="childs" resultMap="ChildMapConstructor" />
    </resultMap>

    <resultMap id="ChildMapConstructor" type="org.apache.ibatis.submitted.parent_childs.Child">
        <constructor>
	        <arg column="c_id" javaType="int"/>
	        <arg column="c_Name" javaType="String"/>
	        <arg column="c_SurName" javaType="String"/>
	        <arg column="c_Age" javaType="int"/>
        </constructor>
    </resultMap>

    <select id="getParentsWithConstructor" resultMap="ParentMapConstructor">
        select
        p.Id as p_Id,
        p.Name as p_Name,
        p.SurName as p_SurName,
        c.Id as c_Id,
        c.Name as c_Name,
        c.SurName as c_SurName,
        c.Age as c_Age
        from Parent p
        left outer join Child c on p.Id = c.ParentId
    </select>

</mapper>
