<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2024 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          https://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.collection_injection.immutable.ImmutableHouseMapper">

    <resultMap id="houseMap" type="ImmutableHouse">
        <constructor>
            <idArg column="id" javaType="_int"/>
            <arg column="name" javaType="String"/>
            <arg javaType="List" resultMap="roomMap" columnPrefix="room_"/>
        </constructor>
    </resultMap>

    <resultMap id="roomMap" type="ImmutableRoom">
        <constructor>
            <idArg column="id" javaType="_int"/>
            <arg column="name" javaType="String"/>
            <arg javaType="ImmutableRoomDetail" resultMap="roomDetailMap"/>
            <arg javaType="List" resultMap="furnitureMap" columnPrefix="furniture_"/>
        </constructor>
    </resultMap>

    <resultMap id="roomDetailMap" type="ImmutableRoomDetail">
        <constructor>
            <arg column="wall_type" javaType="String"/>
            <arg column="wall_height" javaType="_int"/>
            <arg column="size_m2" javaType="_int"/>
        </constructor>
    </resultMap>

    <resultMap id="furnitureMap" type="ImmutableFurniture">
        <constructor>
            <idArg column="id" javaType="_int"/>
            <arg column="description" javaType="String"/>
            <arg javaType="List" resultMap="defectsMap" columnPrefix="defect_"/>
        </constructor>
    </resultMap>

    <resultMap id="defectsMap" type="ImmutableDefect">
        <constructor>
            <idArg column="id" javaType="_int"/>
            <arg column="defect" javaType="String"/>
        </constructor>
    </resultMap>

    <sql id="housesSelect">
        select

          1 as portfolioId

          , h.*

          , r.id as room_id
          , r.name as room_name
          , r.size_m2 as room_size_m2
          , r.wall_type as room_wall_type
          , r.wall_height as room_wall_height

          , f.id as room_furniture_id
          , f.description as room_furniture_description

          , d.id as room_furniture_defect_id
          , d.defect as room_furniture_defect_defect

        from house h
          left join room r on r.house_id = h.id
          left join furniture f on f.room_id = r.id
          left join defect d on d.furniture_id = f.id
    </sql>

    <select id="getAllHouses" resultMap="houseMap" resultOrdered="true">
        <include refid="housesSelect"/>
    </select>

    <select id="getHouse" resultMap="houseMap" resultOrdered="true" parameterType="int">
        <include refid="housesSelect"/>
        where h.id = #{id}
    </select>

    <resultMap id="housePortfolioMap" type="HousePortfolio">
      <id property="portfolioId" javaType="_int" column="portfolioId"/>
      <collection property="houses" resultMap="houseMap"/>
    </resultMap>

    <select id="getHousePortfolio" resultMap="housePortfolioMap" resultOrdered="true">
      <include refid="housesSelect"/>
    </select>
</mapper>
