<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2019 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.associationtest.Mapper">

  <resultMap type="org.apache.ibatis.submitted.associationtest.Car" id="carResult">
    <id column="carid" property="id"/>
    <result column="cartype" property="type"/>
    <association property="engine" resultMap="engineResult"/>
    <association property="brakes" resultMap="brakesResult"/>
  </resultMap>
  <resultMap type="org.apache.ibatis.submitted.associationtest.Engine" id="engineResult">
    <result column="enginetype" property="type"/>
    <result column="enginecylinders" property="cylinders"/>
  </resultMap>
  <resultMap type="org.apache.ibatis.submitted.associationtest.Brakes" id="brakesResult">
    <result column="brakesType" property="type"/>
  </resultMap>

  <select id="getCars" resultMap="carResult">
    select * from cars
  </select>

  <select id="getCars2" resultMap="carResult">
    select 1 as carid, cartype, enginetype, enginecylinders, brakestype from cars where carid in (1,2)
  </select>

  <resultMap type="org.apache.ibatis.submitted.associationtest.Car" id="carResultTypeDetect">
    <id column="carid" property="id"/>
    <result column="cartype" property="type"/>
    <association property="engine">
      <result column="enginetype" property="type"/>
      <result column="enginecylinders" property="cylinders"/>
    </association>
    <association property="brakes">
      <result column="brakesType" property="type"/>
    </association>
  </resultMap>

  <select id="getCarsAndDetectAssociationType" resultMap="carResultTypeDetect">
    select * from cars
  </select>

</mapper>
