<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2014 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.submitted.association_nested.FolderMapper">

  <resultMap id="folderResultMap" type="org.apache.ibatis.submitted.association_nested.FolderFlatTree">
  	<id column="id"/>
  	<id column="lvl1_id"/>
  	<id column="lvl2_id"/>
    <association property="root" javaType="org.apache.ibatis.submitted.association_nested.Folder">
      <result property="id" column="id"/>
      <result property="name" column="name"/>
    </association>
    <association property="level1" javaType="org.apache.ibatis.submitted.association_nested.Folder">
      <result property="id" column="lvl1_id"/>
      <result property="name" column="lvl1_name"/>
    </association>
    <association property="level2" javaType="org.apache.ibatis.submitted.association_nested.Folder">
      <result property="id" column="lvl2_id"/>
      <result property="name" column="lvl2_name"/>
    </association>
  </resultMap>

  <select id="findWithSubFolders" resultMap="folderResultMap">
		select f.id, f.name, f1.id as lvl1_id, f1.name as lvl1_name, f2.id as lvl2_id, f2.name as lvl2_name from folder f
		left join folder f1 on f1.parent_id = f.id
		left join folder f2 on f2.parent_id = f1.id
		where name = #{name}
		order by f.id, f1.id, f2.id
	</select>

</mapper>