<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.adebug.UserMapper">
  <resultMap id="userResultMap" type="User">
    <id property="id" column="id" />
    <result property="name" column="name"/>
    <result property="password" column="password"/>
  </resultMap>
  <select id="selectByName" resultMap="userResultMap">
    select name, password, phone from user where name = #{name}
  </select>
</mapper>
