<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.plugin.encryption.CustomerMapper">
  <resultMap id="customerResultMap"
    type="org.apache.ibatis.plugin.encryption.Customer">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="email" property="email"/>
    <result column="reg_date" property="regDate"/>
  </resultMap>

  <select id="selectAll" resultType="customer">
		SELECT
		ID
		,NAME
		,EMAIL
		,reg_date
		,description
		,mileage
		FROM CUSTOMER
	</select>

  <insert id="insert" parameterType="customer">
		INSERT INTO CUSTOMER
		(ID, NAME, EMAIL,reg_date,mileage,description)
		VALUES
		(#{id}, #{name}, #{email},#{regDate},#{mileage},#{description})
	</insert>


</mapper>