<!--

       Copyright 2009-2012 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.parent_reference_3level.Mapper">
    <select id="selectBlogByPrimaryKey" parameterType="int" resultMap="BlogResultMap">
        select 
            b.id as blog_id, b.title as blog_title,
            p.id as post_id, p.body as post_body,
            c.id as comment_id, c.comment
        from blog b
        left outer join post p on b.id = p.blog_id
        left outer join comment c on p.id = c.post_id 
        where b.id = #{id}
    </select>
    
    <resultMap id="BlogResultMap" type="Blog">
        <id column="blog_id" property="id" />
        <result column="blog_title" property="title"/>
        <collection property="posts" resultMap="PostResultMap"></collection>
    </resultMap>
    
    <resultMap id="PostResultMap" type="Post">
        <id column="post_id" property="id" />
        <result column="post_body" property="body"/>
        <association property="blog" resultMap="BlogResultMap"></association>
        <collection property="comments" resultMap="CommentResultMap"></collection>
    </resultMap>
    
    <resultMap id="CommentResultMap" type="Comment">
        <id column="comment_id" property="id" />
        <result column="comment" property="comment"/>
        <association property="post" resultMap="PostResultMap"></association>
    </resultMap>

    <select id="selectBlogByPrimaryKeyColumnPrefix" parameterType="int" resultMap="BlogResultMapColumnPrefix">
        select 
            b.id as blog_id, b.title as blog_title,
            p.id as post_id, p.body as post_body,
            c.id as post_comment_comment_id, c.comment as post_comment_comment
        from blog b
        left outer join post p on b.id = p.blog_id
        left outer join comment c on p.id = c.post_id 
        where b.id = #{id}
    </select>

    <resultMap id="BlogResultMapColumnPrefix" type="Blog">
        <id column="blog_id" property="id" />
        <result column="blog_title" property="title"/>
        <collection property="posts" resultMap="PostResultMapColumnPrefix" columnPrefix="post_"></collection>
    </resultMap>

    <resultMap id="PostResultMapColumnPrefix" type="Post">
        <id column="id" property="id" />
        <result column="body" property="body"/>
        <association property="blog" resultMap="BlogResultMapColumnPrefix"></association>
        <collection property="comments" resultMap="CommentResultMapColumnPrefix" columnPrefix="comment_"></collection>
    </resultMap>

    <resultMap id="CommentResultMapColumnPrefix" type="Comment">
        <id column="comment_id" property="id" />
        <result column="comment" property="comment"/>
        <association property="post" resultMap="PostResultMapColumnPrefix"></association>
    </resultMap>
</mapper>
