<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.extends_with_constructor.TeacherMapper">
    <resultMap id="TeacherMap" type="org.apache.ibatis.submitted.extends_with_constructor.Teacher">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    
    <select id="selectById" resultMap="TeacherMap" parameterType="int">
    	SELECT id, name
    	FROM teacher
    	WHERE id = #{id};
    </select>
</mapper>
