<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.foreach_map.Mapper">

    <insert id="ins_string_string">
        insert into string_string (key, value) values
        <foreach item="item" index="key" collection="map"
            open="" separator="," close="">(#{key}, #{item})</foreach>
    </insert>

	<select id="sel_string_string" resultType="org.apache.ibatis.submitted.foreach_map.StringStringMapEntry">
		select * from string_string order by id
	</select>

    <insert id="ins_int_bool">
        insert into int_bool (key, value) values
        <foreach item="item" index="key" collection="map"
                 open="" separator="," close="">(#{key}, #{item})</foreach>
    </insert>

    <select id="sel_int_bool" resultType="org.apache.ibatis.submitted.foreach_map.IntBoolMapEntry">
		select * from int_bool order by id
	</select>

    <insert id="ins_nested_bean">
        insert into nested_bean (keya, keyb, valuea, valueb) values
        <foreach item="item" index="key" collection="map"
                 open="" separator="," close="">(#{key.a}, #{key.b}, #{item.a}, #{item.b})</foreach>
    </insert>

    <select id="sel_nested_bean" resultType="org.apache.ibatis.submitted.foreach_map.NestedBeanMapEntry">
		select * from nested_bean order by id
	</select>

    <select id="sel_key_cols" resultType="int">
        select count(*) from key_cols where
        <foreach item="item" index="key" collection="map"
            open="" separator="AND" close="">${key} = #{item}</foreach>
    </select>

</mapper>
