<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.deferload_common_property.ChildMapper">
    
    <resultMap id="ChildMap" type="Child">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="father" column="father_id" select="org.apache.ibatis.submitted.deferload_common_property.FatherMapper.selectById"/>
    </resultMap>
    
    
    <select id="selectAll" resultMap="ChildMap">
    	SELECT id, name, father_id
    	FROM Child
    </select>
</mapper>
