<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2009-2013 The MyBatis Team

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.multiple_resultsets.Mapper">

	<select id="getOrders" resultMap="orderResult">
		select * from mbtest.order_header ;
		select * from mbtest.order_detail
	</select>

	<select id="getOrder" resultMap="orderResultNoFk">
		select * from mbtest.order_header where order_id=#{id};
		select * from mbtest.order_detail where order_id=#{id}
	</select>
	
	<resultMap type="order" id="orderResult">
		<id column="order_id" property="orderId" />
		<result column="cust_name" property="customerName" />
		<collection property="detailLines" column="order_id" foreignColumn="order_id" resultMap="orderDetail" resultSetIndex="1" />
	</resultMap>
	
	<resultMap type="order" id="orderResultNoFk">
		<id column="order_id" property="orderId" />
		<result column="cust_name" property="customerName" />
		<collection property="detailLines" resultMap="orderDetail" resultSetIndex="1" />
	</resultMap>

	<resultMap type="detail" id="orderDetail">
		<id property="lineNumber" column="LINE_NUMBER" />
		<result property="quantity" column="QUANTITY" />
		<result property="itemDescription" column="ITEM_DESCRIPTION" />
	</resultMap>

</mapper>
