<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.multidb.MultiDbMapper">

	<select id="select1" resultType="string" parameterType="int">
		select
		name from common where id=#{value}
	</select>

	<select id="select1" databaseId="hsql"
		resultType="string" parameterType="int">
		select name from hsql where
		id=#{value}
	</select>

	<select id="select2" resultType="string" parameterType="int">
		select
		name from common where id=#{value}
	</select>

	<select id="select2" databaseId="OTHER" resultType="string"
		parameterType="int">
		select name from oracle where id=#{value}
	</select>

	<select id="select3" resultType="string" parameterType="int">
		select name from
		<if test="_databaseId == 'hsql'">
			hsql
		</if>
		<if test="_databaseId != 'hsql'">
			common
		</if>
		where id=#{value}
	</select>
	
	<sql id="sql1" databaseId="hsql">
		hsql
	</sql>

	<sql id="sql1">
		common
	</sql>
	
	<select id="select4" resultType="string" parameterType="int">
		select name from
		<include refid="sql1"/>
		where id=#{value}
	</select>

	<insert id="insert" parameterType="org.apache.ibatis.submitted.multidb.User">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			<if test="_databaseId == 'hsql'">
				select max(id) + 1 from hsql
			</if>
			<if test="_databaseId != 'hsql'">
				select max(id) + 1 from common
			</if>
		</selectKey>
		<if test="_databaseId == 'hsql'">
			insert into hsql values (#{id}, #{name})
		</if>
		<if test="_databaseId != 'hsql'">
			insert into common values (#{id}, #{name})
		</if>
	</insert>

	<insert id="insert2" parameterType="org.apache.ibatis.submitted.multidb.User">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
				select max(id) + 1 from common
		</selectKey>
		<selectKey keyProperty="id" resultType="int" order="BEFORE" databaseId="hsql">
				select max(id) + 1 from hsql
		</selectKey>
		<if test="_databaseId == 'hsql'">
			insert into hsql values (#{id}, #{name})
		</if>
		<if test="_databaseId != 'hsql'">
			insert into common values (#{id}, #{name})
		</if>
	</insert>

</mapper>