<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2012 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.domain.CachedAuthorMapper">

  <cache readOnly="true"/>

  <select id="selectAllAuthors"
          resultType="org.apache.ibatis.domain.blog.Author">
    select * from author
  </select>

  <select id="selectAuthorWithInlineParams"
          parameterType="int"
          resultType="org.apache.ibatis.domain.blog.Author">
    select * from author where id = #{id}
  </select>

  <insert id="insertAuthor"
          parameterType="org.apache.ibatis.domain.blog.Author">
    insert into Author (id,username,password,email,bio)
    values (#{id},#{username},#{password},#{email},#{bio})
  </insert>

  <update id="updateAuthor"
          parameterType="org.apache.ibatis.domain.blog.Author">
    update Author
    set username=#{username},password=#{password},email=#{email},bio=#{bio}
    where id=#{id}
  </update>

  <delete id="deleteAuthor"
          parameterType="int">
    delete from Author where id = #{id}
  </delete>

</mapper>