<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2012 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.domain.IncludeMapper">

  <sql id="Base_Column_List">
    a, b, c
  </sql>

  <sql id="Second_Base_Column_List">
    p as z, q as y, r
  </sql>

  <select id="selectInclude">
    select
    <includeColumns refid="Base_Column_List" tableAlias="x"/>,
    <includeColumns refid="Base_Column_List" tableAlias="y" columnAliasPrefix="q"/>,
    <includeColumns refid="Second_Base_Column_List" tableAlias="z"/>
    from dual x
    join dual y
  </select>
</mapper>