ul.i18n {list-style-type:none;line-height:2;}
li.en {background: url('../images/en.png') left center no-repeat;padding-left: 32px;}
li.es {background: url('../images/es.png') left center no-repeat;padding-left: 32px;}
li.ja {background: url('../images/ja.png') left center no-repeat;padding-left: 32px;}
li.zh {background: url('../images/zh.png') left center no-repeat;padding-left: 32px;}
