<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis .org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.mapper.UserMapper">
<!--  <select id="selectById" resultType="org.apache.ibatis.entity.User" parameterType="java.lang.Integer">-->
<!--    select * from test where id = #{id}-->
<!--  </select>-->
  <select id="selectById">
    select * from test where id = #{id}
  </select>
</mapper>
