name: Java CI

on: [workflow_dispatch, push, pull_request]

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        cache: [maven]
        distribution: [temurin]
        java: [21, 25, 26-ea]
        os: [macos-latest, ubuntu-latest, windows-latest]
      fail-fast: false
      max-parallel: 6
    name: Test JDK ${{ matrix.java }}, ${{ matrix.os }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup Java ${{ matrix.java }} ${{ matrix.distribution }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          cache: ${{ matrix.cache }}
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java }}
      - name: Setup testContainers profile for ubuntu
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: echo 'TEST_CONTAINERS_PROFILE=-PtestContainers' >> $GITHUB_ENV
      - name: Test with Maven
        run: ./mvnw test --batch-mode --no-transfer-progress --show-version -D"license.skip=true" ${TEST_CONTAINERS_PROFILE}
