<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2019 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.serializecircular.PersonMapper">

    <resultMap id="map" type="org.apache.ibatis.submitted.serializecircular.Person">
        <id column="id" property="id" />
        <association column="nr_department" property="department" javaType="org.apache.ibatis.submitted.serializecircular.Department" select="org.apache.ibatis.submitted.serializecircular.DepartmentMapper.getById"/>
    </resultMap>

    <sql id="columns">
        person.id,
        person.nr_department
    </sql>

    <sql id="table">person</sql>

    <select id="getById" parameterType="Integer" resultMap="map">
        SELECT
            person.id,
            person.nr_department
        FROM
            person
        WHERE
            id = #{id}
    </select>

</mapper>
